<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bills</title>
    <link rel="stylesheet" href="/css/style.css">

    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/d5ce7117b5.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <h1>My Bills</h1>

    <h2><%= user.userName %> has <%= bills.filter(bill => bill.paid === false).length %> bill(s) outstanding</h2>
    <h3>They total &dollar;<%= bills.reduce((sum, bill) => sum + (!bill.paid? bill.amount: 0), 0).toFixed(2)%></h3>

    <section class="bills-section">
        
        <section class="bill-form">
            <form class="signup-form add-bill-form" action="/bills/createBill" method='POST'>
                <h2>New Bill</h2>
                <input type="text" placeholder="Enter bill here" name='billItem'>
                <input type="number" placeholder="Enter amount here" name='amount'>
                <input type="date" placeholder="Enter pay date here" name='date'>
                <select name="category">
                    <option value="">Select Category</option>
                    <option value="Housing">Housing</option>
                    <option value="Utilities">Utilities</option>
                    <option value="Transportation">Transportation</option>
                    <option value="Insurance">Insurance</option>
                    <option value="Medical">Medical</option>             
                    <option value="Credit Cards">Credit Cards</option>
                    <option value="Subscriptions">Subscriptions</option>
                    <option value="Other">Other</option>
                </select>
            
                <input type="submit"> 
            </form>
        </section>
        <section class="bill-list">
            <h2>My Outstanding Bills</h2>
            <ul>
                <li>
                    <span>Bill</span>
                    <span>Amount</span>
                    <span>Due Date</span>
                    <span>Category</span>
                    <span>Delete</span>
                    <span>Mark Paid</span>
                </li>
                <% bills.filter(bill => bill.paid === false).sort((a, b) => a.dueDate - b.dueDate).forEach( el => { %>
                        <li class='billItem outstanding' data-id='<%=el._id%>' data-dueDate= '<%= el.dueDate.toDateString() %>'>
                            <span><%= el.bill %></span>
                            <span><%= el.amount %>$</span>
                            <span><%= el.dueDate.toDateString() %></span>
                            <span><%= el.category %></span>
                            <span class='del fa-solid fa-trash'></span>
                            <span class="not fa-solid fa-check"></span>
                        </li>
                <% }) %>    
            </ul>
        </section>
    </section>
    <a class="logout-btn" href="/logout">Logout</a>
    <a class="unpaid-btn" href="/bills/paid">Go to Paid Bills</a>


    <script src="/js/main.js"></script>
</body>
</html>