<!DOCTYPE html>
<html lang="en" class="bg-trackr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link href="/css/dist/output.css" rel="stylesheet" type="text/css">

    <title>Paid Bills | Bill Trackr</title>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/d5ce7117b5.js" crossorigin="anonymous"></script>
</head>

<body class="pb-10">

    <nav class="flex flex-col lg:flex-row justify-around items-center mt-6">
        <img src="/images/Billtrackr-logo/cover.png" alt="" class="w-8/12 lg:w-2/12 lg:order-2 ">
        <a class="bg-trackr-800 hover:bg-trackr-900 text-white text-lg rounded-full px-6 py-2 shadow-lg lg:block lg:order-1 mt-2 lg:mt-0"
            href="/bills/unpaid">Go to Unpaid Bills</a>
        <a class="bg-trackr-800 hover:bg-trackr-900 text-white text-lg rounded-full px-6 py-2 shadow-lg lg:order-3  mt-2 lg:mt-0"
            href="/logout">Logout</a>
    </nav>

    <h1 class="text-center text-2xl mt-5 text-trackr-900 leading-relaxed px-2">
        Hi <%= user.userName %>, you have paid <%= bills.length %> bill(s)!
    </h1>

    <section class="w-11/12 lg:w-9/12 bg-white rounded-xl shadow-lg py-6 flex flex-col  items-center justify-between mx-auto mt-6">
            <h2 class="text-center text-2xl text-trackr-900 mb-4"><strong>Paid Bills</strong></h2>

            <ul class="w-11/12 mx-auto text-center">
                    <li class="border-0 border-b-2 border-gray-200 text-trackr-900 hidden lg:flex lg:justify-around font-bold">
                        <span class="py-3 w-2/12 text-left pl-3">Bill</span>
                        <span class="py-3 w-2/12">Amount</span>
                        <span class="py-3 w-2/12">Date Paid</span>
                        <span class="py-3 w-2/12">Category</span>
                        <span class="py-3 w-2/12">Delete</span>
                    </li>
                <% bills.forEach( el=> { %>
                    <li class='border-0 border-b-2 border-gray-200 hover:bg-gray-100 flex justify-between flex-wrap lg:flex-nowrap' data-id='<%=el._id%>'>
                        <span class="py-1 lg:py-3 w-6/12 lg:w-2/12 lg:text-left lg:pl-3 font-bold lg:font-normal">
                            <%= el.bill %>
                        </span>
                        <span class="py-1 lg:py-3 w-6/12 lg:w-2/12 font-bold lg:font-normal">
                            $<%= el.amount %>
                        </span>
                        <span class="py-1 lg:py-3 w-6/12 lg:w-2/12">
                            <%= el.dueDate.toDateString() %>
                        </span>
                        <span class="py-1 lg:py-3 w-6/12 lg:w-2/12">
                            <%= el.category %>
                        </span>
                        <span class='del py-1 lg:py-3 text-trackr-900 hover:text-red-700  w-full lg:w-1/12'><i class="fa-solid fa-trash"></i></span>
                    </li>
                    <% }) %>
            </ul>
    </section>

    <script src="/js/main.js"></script>
</body>

</html>