<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bills</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <h1>My Bills</h1>

    <h2><%= user.userName %> has <%= left %> bill(s) outstanding</h2>

    <section class="bills-section">
        
        <section class="bill-form">
            <form class="signup-form add-bill-form" action="/todos/createTodo" method='POST'>
                <h2>New Bill</h2>
                <input type="text" placeholder="Enter bill here" name='todoItem'>
                <input type="number" placeholder="Enter amount here" name='todoItem'>
                <input type="date" placeholder="Enter pay date here" name='todoItem'>
                <input type="submit"> 
            </form>
        </section>
        <section class="bill-list">
            <h2>My Outstanding Bills</h2>
            <ul>
                <% todos.forEach( el => { %>
                        <li class='todoItem' data-id='<%=el._id%>'>
                            <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                            <span class='del'> Delete </span>
                        </li>
                <% }) %>    
            </ul>
        </section>
    </section>
    <a class="logout-btn" href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>